<?xml version="1.0" encoding="utf-8" ?>
<Root>
	<!--服务器名称-->
	<ServerName>测试，勿理</ServerName>
	<!--API接口-->
	<ApiPort>1234</ApiPort>
	<MailConfig>
		<!--报警邮件开关（on:打开;off:关闭）-->
		<Switch>On</Switch>
		<!--报警邮件发件人邮箱(必填)-->
		<MailFromAddress>miaoxin@finchina.com</MailFromAddress>
		<!--显示名称(可空)-->
		<MailDisplayName>miaoxin</MailDisplayName>
		<!--报警邮件发件人邮箱密码(必填)-->
		<MailFromPwd>finchina2013</MailFromPwd>
		<!--Smtp服务器地址(必填)-->
		<SmtpServer>smtp.finchina.com</SmtpServer>
		<!--报警邮件接收人(多人以半角分号分割)(必填)-->
		<MailToAddress>liucl@finchina.com</MailToAddress>
		<!--报警邮件抄送人(多人以半角分号分割)(可空)-->
		<MailCcAddress></MailCcAddress>
		<!--报警邮件密送人(多人以半角分号分割)(可空)-->
		<MailBccAddress>
		</MailBccAddress>
		<!--邮件签名(可空)-->
		<MailSign>
		</MailSign>
	</MailConfig>

	<InterfaceConfig>
		<!--Token请求接口-->
		<TokenRequest>https://10.10.15.178/auth</TokenRequest>
		<!--Token刷新接口-->
		<TokenRefresh>https://10.10.15.178/refresh</TokenRefresh>
		<!--行情接口-->
		<MarketPrice>https://10.10.15.178/hq/v1/kline</MarketPrice>
		<!--报价牌接口-->
		<QuotePrice>https://10.10.15.178/hq/v1/quote</QuotePrice>
		<!--微信接口-->
		<WXInterface>http://222.73.4.142#/QywxInterface/SendChatHandler.ashx</WXInterface>
		<!--微信参数-->
		<WXParameter>msg={"receiver":{ "type": "group","id": "61"},"sender": "ywbz.list@finchina.com","msgtype": "text","text":{"content": "error" }}</WXParameter>
		<!--交易日数据库连接信息-->
		<SqlConnection>Data Source=192.168.100.165;Initial Catalog=fcdb;User ID=read;Password=read</SqlConnection>
	</InterfaceConfig>
	<!--WebAPI认证信息-->
	<ApiAccount>
		<User>
			<Name>htcs2017</Name>
			<Password>htcs2017</Password>
		</User>
	</ApiAccount>
	<Tasks>
		<TaskInfo>
			<!--名称-->
			<Name>企业债行情</Name>
			<!--股票代码-->
			<StockCode>SH000001</StockCode>
			<!--图片的保持地址-->
			<FilePath>E:\888\1</FilePath>
			<!--日志保持地址-->
			<LogPath>E:\888\2</LogPath>
			<!--Y轴长度，正整数-->
			<Height>88</Height>
			<!--X轴宽度，正整数-->
			<Width>200</Width>
			<!--X轴移动距离，整数-->
			<MoveX>0</MoveX>
			<!--Y轴移动距离，整数-->
			<MoveY>0</MoveY>
			<!--字体大小，整数-->
			<FontSize>8</FontSize>
			<!--字体-->
			<FontType>Calibri</FontType>
			<!--字体是否加粗-->
			<Bold>false</Bold>
			<!--曲线颜色-->
			<CurveColor>Blue</CurveColor>
			<!--曲线粗细，正整数-->
			<CurveThickness>1</CurveThickness>
			<!--XY轴颜色-->
			<AxisColor>Black</AxisColor>
			<!--栅格线粗细，正整数-->
			<LineThickness>1</LineThickness>
			<!--下方字体颜色-->
			<FontColor>Black</FontColor>
			<!--上边距-->
			<Top>1</Top>
			<!--下边距-->
			<Bottom>17</Bottom>
			<!--左边距-->
			<Left>42</Left>
			<!--右边距-->
			<Right>5</Right>
			<!--保存图片名称-->
			<SaveName>SH000001</SaveName>
			<!--图片类型-->
			<SaveType>gif</SaveType>
			<!--开盘时间-->
			<TradeTime>930,1130,1300,1800</TradeTime>
			<!--添加文字信息-->
			<Label>
				<Text>09:00</Text>
				<PositionX>42</PositionX>
				<PositionY>92</PositionY>
				<FontType>Calibri</FontType>
				<FontSize>9</FontSize>
				<FontColor>CornflowerBlue</FontColor>
				<Bold>false</Bold>
			</Label>
			<Label>
				<Text>11:30/13:30</Text>
				<PositionX>126</PositionX>
				<PositionY>92</PositionY>
				<FontType>Calibri</FontType>
				<FontSize>9</FontSize>
				<FontColor>CornflowerBlue</FontColor>
				<Bold>false</Bold>
			</Label>
			<Label>
				<Text>15:00</Text>
				<PositionX>212</PositionX>
				<PositionY>92</PositionY>
				<FontType>Calibri</FontType>
				<FontSize>9</FontSize>
				<FontColor>CornflowerBlue</FontColor>
				<Bold>false</Bold>
			</Label>
		</TaskInfo>
		</Tasks>
</Root>